.stream-main {
    margin-top: 80px;
    padding: 1rem 2.7rem;
}

.main-text-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text-top h1 {
    font-size: 2rem;
    color: #1F2937;
    margin-bottom: 10px;
}

.main-text-top h2 {
    font-size: 1.1rem;
    text-align: center;
    color: #1F2937;
}

.main-text-top h1 .stream-span,
.main-text-top h2 .stream-span {
    color: #0037ff;
}


.main-text {
    margin-top: 100px;
}

.main-text h2 {
    font-size: 1.2rem;
    color: #1F2937;
}

.info-steps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 40px;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
}

.step h2 {
    color: #0037ff;
    font-weight: 600;
}

.platform,
.software {
    display: flex;
    align-items: center;
    gap: 8px;
}

.platform .twitch,
.platform .youtube,
.platform .kick {
    font-size: 20px;
}

.twitch {
    color: #6441a5;
}

.youtube {
    color: #FF0000;
}

.kick {
    color: #0fd523;
}

.obs,
.streamlabs,
.ctg {
    font-size: 0.8rem;
    color: #1F2937;
    border-radius: 14px;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.obs:hover,
.streamlabs:hover,
.ctg:hover {
    background-color: #1F2937;
    color: #fff;
}

.step ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@media (max-width: 1025px) {

    .stream-main {
        padding: 1.2rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 2.9rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 1.8rem;
    }

    .main-text h2 {
        font-size: 1.4rem;
    }

    .step h2 {
        font-size: 2rem;
    }

    .step p,
    .step ul {
        font-size: 1.4rem;
    }
}

@media (max-width: 821px) {

    .stream-main {
        padding: 1rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 2.4rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .main-text h2 {
        font-size: 1rem;
    }

    .step h2 {
        font-size: 1.4rem;
    }

    .step p,
    .step ul {
        font-size: 1rem;
    }
}

@media (max-width: 769px) {

    .stream-main {
        padding: 1rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 2.4rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .main-text h2 {
        font-size: 1rem;
    }

    .step h2 {
        font-size: 1.4rem;
    }

    .step p,
    .step ul {
        font-size: 1rem;
    }
}

@media (max-width: 541px) {

    .stream-main {
        padding: 1rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 1.8rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 1.1rem;
    }

    .main-text h2 {
        font-size: 0.9rem;
    }

    .step h2 {
        font-size: 1.2rem;
    }

    .step p,
    .step ul {
        font-size: 0.8rem;
    }
}

@media (max-width: 431px) {

    .stream-main {
        padding: 0.8rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 1.2rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 0.8rem;
    }

    .main-text h2 {
        font-size: 1rem;
    }

    .step h2 {
        font-size: 1.1rem;
    }

    .step p,
    .step ul {
        font-size: 0.8rem;
    }
}

@media (max-width: 415px) {

    .stream-main {
        padding: 0.8rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 1.2rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 0.8rem;
    }

    .main-text h2 {
        font-size: 1rem;
    }

    .step h2 {
        font-size: 1.1rem;
    }

    .step p,
    .step ul {
        font-size: 0.8rem;
    }
}

@media (max-width: 376px) {

    .stream-main {
        padding: 0.8rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 1.2rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 0.8rem;
    }

    .main-text h2 {
        font-size: 1rem;
    }

    .step h2 {
        font-size: 1.1rem;
    }

    .step p,
    .step ul {
        font-size: 0.8rem;
    }
}

@media (max-width: 345px) {

    .stream-main {
        padding: 0.8rem;
    }

    .main-text-top h1 {
        text-align: center;
        font-size: 1rem;
    }

    .main-text-top h2 {
        text-align: center;
        font-size: 0.7rem;
    }

    .main-text h2 {
        font-size: 0.8rem;
    }

    .step h2 {
        font-size: 0.9rem;
    }

    .step p,
    .step ul {
        font-size: 0.7rem;
    }
}